/src/**/*/bochsout.txt
/src/**/*/bochsrc.txt

/src/threads/build/
/src/userprog/build/
/src/vm/build/
/src/filesys/build/

/src/utils/setitimer-helper
/src/utils/squish-pty
/src/utils/squish-unix

TAGS
tags

/src/examples/
/src/examples/lib/

!/src/examples/bubsort.c
!/src/examples/cmp.c
!/src/examples/echo.c
!/src/examples/hex-dump.c
!/src/examples/ls.c
!/src/examples/matmult.c
!/src/examples/mcp.c
!/src/examples/pwd.c
!/src/examples/rm.c
!/src/examples/cat.c
!/src/examples/cp.c
!/src/examples/halt.c
!/src/examples/insult.c
!/src/examples/lineup.c
!/src/examples/Makefile
!/src/examples/mcat.c
!/src/examples/mkdir.c
!/src/examples/recursor.c
!/src/examples/shell.c
!/src/examples/lib
!/src/examples/lib/user
